<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <!-- <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu2TgOFkyODTM_h9l59fzQ_6ybd6A5mPs&callback=initMap">
    </script> -->
    <div id="app"></div>
  </body>
</html>